@import "./fonts.css";
@import "./variables.css";
@import "./responsive.css";

body {
    font-family: var(--font-primary);
}

.secondary-heading {
    font-family: var(--font-secondary);
}

.nav-link.active hr {
    @apply block;
}

.nav-link {
    @apply relative;
}

.nav-link:hover {
    @apply text-gray-700;
}

.nav-link::after {
    content: "";
    transform: scaleX(0);
    @apply absolute bottom-[-1px] left-0 w-full h-0.5 origin-right transition-transform duration-300 ease-in bg-gray-700;
}

.nav-link:hover::after {
    transform: scaleX(1);
    @apply origin-left;
}